<?xml version="1.0"?>
<config>
    <modules>
        <OptFirst_ReviewMyCompany>
            <version>1.0.0</version>
        </OptFirst_ReviewMyCompany>
    </modules>
    
    <frontend>
    <routers>
      <reviews>
        <use>standard</use>
          <args>
            <module>OptFirst_ReviewMyCompany</module>
            <frontName>reviews</frontName>
          </args>
      </reviews>
      <emailus>
                <use>standard</use>
                <args>
                    <module>OptFirst_ReviewMyCompany</module>
                    <frontName>emailus</frontName>
                </args>
      </emailus>
    </routers>
        <layout>
          <updates>
            <reviews>
              <file>reviews.xml</file>
            </reviews>
          </updates>
        </layout>
  </frontend>

    <global>
        <blocks>
            <optfirst_reviewmycompany>
                <class>OptFirst_ReviewMyCompany_Block</class>
            </optfirst_reviewmycompany>
            <reviews>
            <class>OptFirst_ReviewMyCompany_Block</class>
            </reviews>
        </blocks>

        <helpers>
            <optfirst_reviewmycompany>
                <class>OptFirst_ReviewMyCompany_Helper</class>
            </optfirst_reviewmycompany>
        </helpers>

        <models>         
            <optfirst_reviewmycompany>
                <class>OptFirst_ReviewMyCompany_Model</class>
                <resourceModel>optfirst_reviewmycompany_resource</resourceModel>
            </optfirst_reviewmycompany>
            <optfirst_reviewmycompany_resource>
                <class>OptFirst_ReviewMyCompany_Model_Resource</class>
                <entities>
                    <review>
                        <table>optfirst_reviewmycompany</table>
                    </review>
                </entities>
            </optfirst_reviewmycompany_resource>
        </models>

        <resource>
            <optfirst_reviewmycompany_setup>
                <setup>
                    <module>OptFirst_ReviewMyCompany</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </optfirst_reviewmycompany_setup>
            <optfirst_reviewmycompany_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </optfirst_reviewmycompany_write>
            <optfirst_reviewmycompany_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </optfirst_reviewmycompany_read>
        </resource>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <optfirst_reviewmycompany after="Mage_Adminhtml">OptFirst_ReviewMyCompany_Adminhtml</optfirst_reviewmycompany>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <optfirst_reviewmycompany>
                    <file>optfirst_reviewmycompany.xml</file>
                </optfirst_reviewmycompany>
            </updates>
            <updates>
                <review>
                    <file>review.xml</file>
                </review>
            </updates>
        </layout>
        <translate>
            <modules>
                <optfirst_reviewmycompany>
                    <files>
                        <default>OptFirst_ReviewMyCompany.csv</default>
                    </files>
                </optfirst_reviewmycompany>
            </modules>
        </translate>
    </adminhtml>

    <default>
        <optfirst_reviewmycompany>
            <general>
                <default_sort_by><![CDATA[position]]></default_sort_by>
            </general>
        </optfirst_reviewmycompany>
    </default>
</config>
